<html lang="en"><head>
<title>Hello World</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap.min.css">

<link rel="stylesheet" href="css/font-awesome.min.css">

<link rel="stylesheet" href="css/style.css">
</head>
<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">HH</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/contact">Contact</a>
          </li>
        </ul>
        <ul class="nav navbar-nav m1-auto">
            <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/beefybeef/"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="outer-container">
<div class="container portfolio-page">
<div class="row">
<div class="col">
<ul class="breadcrumbs flex align-items-center">
<li></li>
</ul>
</div>
</div>
<div class="row">
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
        <img src="images/1.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow modal-image">
      </figure>

    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
         <img src="images/2.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow modal-image">
      </figure>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
         <img src="images/3.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow modal-image">
      </figure>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
        <img src="images/4.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow modal-image">
      </figure>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
        <img src="images/5.jpg" onclick="openModal();currentSlide(5)" class="hover-shadow modal-image">
      </figure>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
        <img src="images/6.jpg" onclick="openModal();currentSlide(6)" class="hover-shadow modal-image">
      </figure>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
        <img src="images/7.jpg" onclick="openModal();currentSlide(7)" class="hover-shadow modal-image">
      </figure>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
        <img src="images/8.jpg" onclick="openModal();currentSlide(8)" class="hover-shadow modal-image">
      </figure>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
        <img src="images/9.jpg" onclick="openModal();currentSlide(9)" class="hover-shadow modal-image">
      </figure>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
        <img src="images/10.jpg" onclick="openModal();currentSlide(10)" class="hover-shadow modal-image">
      </figure>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
        <img src="images/11.jpg" onclick="openModal();currentSlide(11)" class="hover-shadow modal-image">
      </figure>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
        <img src="images/12.jpg" onclick="openModal();currentSlide(12)" class="hover-shadow modal-image">
      </figure>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
        <img src="images/1.jpg" onclick="openModal();currentSlide(1)" class="hover-shadow modal-image">
      </figure>

    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
         <img src="images/2.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow modal-image">
      </figure>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
         <img src="images/3.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow modal-image">
      </figure>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3">
    <div class="portfolio-content">
      <figure >
        <img src="images/4.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow modal-image">
      </figure>
    </div>
  </div>
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="images/1.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="images/2.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="images/3.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="images/4.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="images/5.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="images/6.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="images/7.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="images/8.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="images/9.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="images/10.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="images/11.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="images/12.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="images/1.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="images/2.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="images/3.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="images/4.jpg" style="width:100%">
    </div>
    <!-- Next/previous controls -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>


  </div>
</div>

</div>
</div>
</div>
<script type="text/javascript" src="js/jquery.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/jquery.easing.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="text/javascript"></script>
<script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script>/*
// Get the modal
var modal = document.getElementById("myModal");
var i;
for(i=1; i<4; i++){
// Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById("myImg"+i);
  var modalImg = document.getElementById("img"+i);
  var captionText = document.getElementById("caption");
  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
}*/
</script>

</body></html>
